// color
$White: #ffffff;
$black: #2B2D2E;
$Gray: #F0F3F5;
$DarkGray: #B2B7C1;
$Bule: #0099E7;
body {
  color: $black;
}
// Responsive
$sp: 768px;
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
// border
@mixin border ($size: 1px, $color: $DarkGray) {
  border: $size solid $color;
}
@mixin border-bottom ($color:$DarkGray) {
  border-bottom: 1px solid $color;
}
// flex
@mixin flex-center () {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}
// size
$base-size: 8px;
$content-size: 1200px;
