// color
$White: #ffffff;
$black: #2B2D2E;
$Gray: #F0F3F5;
$DarkGray: #B2B7C1;
$Bule: #0099E7;
body {
  color: $black;
}
// border
@mixin border ($color:$DarkGray) {
  border: 1px solid $color;
}
@mixin border-bottom ($color:$DarkGray) {
  border-bottom: 1px solid $color;
}
// flex
@mixin flex-center () {
  display: flex;
  justify-content: center;
  align-items: center;
}
// size
$base-size: 8px;
$content-size: 1200px;
