// modern-css-reset
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  h1 {
    margin: 0;
  }
  h2 {
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  h5 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    &:not([class]) {
      text-decoration-skip-ink: auto;
    }
  }
  img {
    max-width: 100%;
    display: block;
  }
  picture {
    max-width: 100%;
    display: block;
  }
  figure {
    margin: 0;
  }
  blockquote {
    margin: 0;
  }
  dl {
    margin: 0;
  }
  dd {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  input {
    font: inherit;
  }
  button {
    font: inherit;
  }
  textarea {
    font: inherit;
  }
  select {
    font: inherit;
  }
  * {
    box-sizing: border-box;
    @media (prefers-reduced-motion: reduce) {
      animation-duration: .01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: .01ms !important;
      scroll-behavior: auto !important;
    }
    &::before, &::after {
      box-sizing: border-box;
      @media (prefers-reduced-motion: reduce) {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important;
      }
    }
  }
}

