
@import "_reset";
@import "_base";
// header
.wrap {
  margin: 0 3%;
}
.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: $base-size * 10;
  @include border-bottom();
  @include flex-center();
}
.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: $Gray;
  padding: $base-size * 3;
}
.container {
  // margin: 0 3%;
  .main-title {
    text-align: center;
  }
}
.contents {
  width: 100%;
  &-flex {
    @include flex-center();
  }
}
.common-section {
  padding: $base-size * 3;
  width: 50%;
  &__form {
    width: 100%;
    @include flex-center();
    flex-direction: column;
    label {
      cursor: pointer;
      &:hover + input {
        @include border($Bule);
      }
    }
    &-control {
      border: none;
      border-radius: $base-size;
      padding: 0 $base-size * 2;
      height: $base-size * 7;
      margin:  $base-size * 2 0;
      width: 100%;
      text-align: center;
      &:hover {
        @include border($Bule);
      }
    }
  }
}